@page
@model StJosephBazaar.Pages.Booths.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Booths</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Name)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.Booth[0].Year)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Friday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Saturday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Auction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Gross_Revenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Purchases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Net_Income)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booth) {
        Console.WriteLine("UniqueIdThingThatICanSearchFor" + item.Year);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Friday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saturday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gross_Revenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Net_Income)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
