@page
@model StJosephBazaar.Pages.Booths.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Booths</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Year:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a ID="return" asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<p>
    <a ID="return" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Friday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Saturday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Auction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Gross_Revenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Purchases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booth[0].Net_Income)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booth) {
        Console.WriteLine("UniqueIdThingThatICanSearchFor" + item.Year);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year.YearVal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Friday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saturday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auction)
            </td>
            <td>
                <div style="color: Green; font-weight: bold;">
					@Html.DisplayFor(modelItem => item.Gross_Revenue)
				</div>
            </td>
            <td>
                <div style="color: Red;font-weight: bold;">
					@Html.DisplayFor(modelItem => item.Purchases)

				</div>
            </td>
            <td>
                @if (item.Net_Income < 0)
			{
				<div style="color: Red;font-weight: bold;">
					@Html.DisplayFor(modelItem => item.Net_Income)

				</div>
			}
			else
			{
				<div style="color: Green; font-weight: bold;">
					@Html.DisplayFor(modelItem => item.Net_Income)
				</div>
			}
            </td>
            <td>
                <a ID="return" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a ID="return" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a ID="return" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
