@page
@model StJosephBazaar.Pages.Expenses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Expenses</h1>

<p>
    <a ID="return" asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p ID="find">
            Find by Booth:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a ID="return" asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Booth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].InvoiceNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].CheckNum)
            </th>
            <th>
                <a ID="filter" asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Expense[0].Date)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Description)
            </th>
            <th>
                <a ID="filter" asp-page="./Index" asp-route-sortOrder="@Model.TotalSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Expense[0].Total)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Expense) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Booth.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a ID="return" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a ID="return" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a ID="return" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Expense.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Expense.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Expense.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Expense.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
